*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
body{
  display:flex;
  flex-direction: column;
  align-items: center;
  word-wrap: break-word;
}
.modoDark{
  background-color: black;
}

i{
  pointer-events: none;
}
input{
  outline:none;
}
#doc{
  word-wrap: break-word;
  height: 100vh;
  outline: none;
}

.selecionado{
  background-color: #ddd !important;
}
.cabecalho{
  width:100vw;
  height:50px;
  display: flex;
  justify-content: center;
  gap:15px;
  padding: 10px;
}

.box{
  display: flex;
  gap:5px;
}
.box button{
  cursor:pointer;
  padding:5px;
  font-size:large;
  border:none;
  outline:none;
  background-color:transparent;
  border-radius:5px ;
}

.box button:hover{
  background-color:rgb(224, 224, 224);
}
/*conteudo do box*/
#font-family{
  display: flex;
  padding: 5px;
  border-radius:5px ;
  cursor: pointer;
}
#font-family:hover{
  background-color:rgb(224, 224, 224);
}
#font-family *{
  border: none;
}
#font-family p{
  width:3rem;
  background-color: transparent;
}

#txt-height{
  display: flex;
  align-items: center;
  font-size: large;
}
#txt-height input{
  width: 50px;
  padding: 5px 8px;
  text-align: center;
}
/* ----- */
.metrica{
  height: 30px;
}
#doc{
  width:90vw;
  height:calc(100vh - 100px);
  box-shadow: 2px 2px 3px gray;
  padding:5vh 15vh;
  background-color: #FFF;
}

#paletaCores {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

}
.boxFloat{
  justify-items: center;
  position: absolute;
  padding: 3px;
  border: 1px solid #cccccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width:200px;
  max-height: 300px;
  overflow-y: scroll;
  background-color: rgb(255, 255, 255);
}

.boxFloat div{
  cursor:pointer;
}
.boxFloat div:hover{
  background-color:#ddd !important;
}

#listFont div{
  padding: 5px;
}
