header{
    display: grid;
    grid-template-columns: 20% 50% 30%;
    background-color: #000;
    padding: 30px 15px;
}
#hamburguer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
    padding: 8px;
    border-radius: 5px;
    background-color: #555;
    cursor: pointer;
    
}
#hamburguer span{
    display: block;
    width: 100%;
    padding: 1.5px;
    border-radius: 20px;
    margin: 3px 0;
    background-color: #fff;
    box-sizing: border-box;
}
.controller{
    display: flex;
}
#buscar{
    position: relative;
    width: 100%;
}
#inp-bsc{
    height: 100%;
    position: relative;
    padding: 2px 0;
    padding-left: 30px;
    background-color: #333;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: large;
    color: #fff;
}
#inp-bsc + label{
    position: absolute;
    left: 10px;
    top: 40%;
}
#menu-lateral{
    position: absolute;
    left: -1000px;
    padding: 15px;
    background-color: #555;
    
}